<h1>Lista de productos</h1>

{{#if products.length}}
  <ul>
    {{#each products}}
      <li>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        {{#each this.thumbnails}}
          <img src="{{this}}" alt="Imagen del producto" />
        {{/each}}

      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay productos disponibles.</p>
{{/if}}