<h1>Productos en Tiempo Real</h1>

{{#if products.length}}
  <ul id="productList">
    {{#each products}}
      <li>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        {{#each this.thumbnails}}
          <img src="{{this}}" alt="Imagen del producto" />
        {{/each}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay productos disponibles.</p>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProduct.js"></script>